.loader {
    float: left;
    border: 0.25em solid #f3f3f3; /* Light grey */
    border-top: 0.25em solid #3498db; /* Blue */
    border-radius: 50%;
    width: 1.17em;
    height: 1.17em;
    margin-top: 1em;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 0;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.done {
    float: left;
    border: 0.2em solid #4cae4c; /* Light grey */
    border-top: 0.2em solid #4cae4c; /* Blue */
    border-radius: 50%;
    width: 1.17em;
    height: 1.17em;
    margin-top: 1em;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 0;
}

.fail {
    float: left;
    border: 0.2em solid #FF0000; /* Light grey */
    border-top: 0.2em solid #FF0000; /* Blue */
    border-radius: 50%;
    width: 1.17em;
    height: 1.17em;
    margin-top: 1em;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 0;
}

.none {

}

h3{
    margin-bottom: 0;
    float: left;
}

.newLine {
    clear: both;
}
